.team-history {
  display: flex;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(7, 202, 127);
}
.team-history img {
  height: 300px;
}

.team-banner {
  width: 1140px;
}
.team-history img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: grabbing;
}
.team-history button:hover {
  background-color: blueviolet;
}
